.image{
    background: url("uninter.png") no-repeat;
    width: 200px;
    height: 200px;
    display: block;
    background-size: contain;
}

.image:hover{
    background-position: 0px 50px ;
}

.image:active{
    background-position: 50px 50px;
}